@font-face {
  font-family: "opensans";
  src: url("../src/font/Open_Sans/opensans-variablefont_wdthwght-webfont.woff2")
      format("woff2"),
    url("../src/font/Open_Sans/opensans-variablefont_wdthwght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "opensans";
  line-height: 1.5rem;
}
